# Database Configuration
# Replace with your actual MongoDB connection string
DATABASE_URL="mongodb+srv://advicermano_db_tiogim:h6XYZzHefyZTakmx@enova.ltdxb8s.mongodb.net/?appName=enova"
# For MongoDB Atlas (cloud):
# DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/database_name"

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
# Generate a secure random key for production
JWT_SECRET="oikjuyhuimnjhgrfdtebservaertkdh1092837465ge"
JWT_EXPIRES_IN="7d"


# Frontend Configuration
FRONTEND_URL="http://localhost:3001"
PROXY_TARGET="http://localhost:3001"

